body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #914949;
    color: #333;
}

.menu-container {
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

header p {
    font-size: 1.2em;
    color: #777;
}

.menu-section {
    margin-bottom: 40px;
}

.menu-section h2 {
    font-size: 2em;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    position: relative;
    cursor: pointer;
}

.menu-item input[type="checkbox"] {
    display: none;
}

.menu-item input[type="checkbox"]:checked + h3::after {
    content: "✔";
    font-size: 1.5em;
    color: green;
    margin-left: 10px;
}

.menu-item h3 {
    margin: 0;
    font-size: 1.5em;
    color: #444;
}

.menu-item p {
    margin: 5px 0 0 0;
    color: #777;
}

.menu-item .price {
    font-size: 1.2em;
    color: #444;
}

footer {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #eee;
    margin-top: 20px;
    color: #777;
}
.next-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #28a745;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.next-button:hover {
    background-color: #218838;}
